#sketchpad {
    margin: auto;
    width: 100%;
    height: 800px;
    background-repeat: repeat;
}

.toolbar {
  width: 100%;
  min-width: 228px;
  background-color: #fafafa;
  text-align: center;
  padding: 14px;
  display: inline-block;
}
.toolbar .section {
  clear:both;
  margin-bottom: 8px;
}
.toolbar .slider {
  width: 100%;
  /*max-width: 96px;*/
}

.toolbar .button {
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
}

.toolbar .button.active {
  background-color: rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, 1);
}

.crosshair {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background-image: url(images/crosshair.png);
}